body {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
    font-family: 'Inter', sans-serif; 
    padding: 20px
}

.nav_items li {
    display: inline-block;
    padding: 2px 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.nav_items a {
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}

.Projects a:hover, .nav_items li a:hover {
    color: #476beb;
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0rem;
}

h2 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
    font-size: 1.125rem;
    font-weight: inherit;
    text-align: center;
}


#mailto {
    text-decoration: none;
    color: #476beb;
}

button {
    background-color: rgb(31, 113, 221);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 10px;
}

.Projects {
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
    font-family: 'Inter', sans-serif; 
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box {
   
}

.box:hover {
    background-color: white;
}